<footer>
    <div class="footer">
      <div class="container">
        <div class="col-md-4 wow fadeInUp" data-wow-offset="0" data-wow-delay="0.5s">
          <h2>Novis Inventis</h2>
          <p style="color: #fff;" >A website which will allow people to catch a drift of the new advancements in science and technology in a fun way.We chose to make this website to  develop interest of yearning minds of people in different fields.</p>

          <ul class="social-network">
            <li><a href="#" data-placement="top" title="Facebook"><i class="fa fa-facebook fa-1x"></i></a></li>
            <li><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter fa-1x"></i></a></li>
            <li><a href="#" data-placement="top" title="Linkedin"><i class="fa fa-linkedin fa-1x"></i></a></li>
            <li><a href="#" data-placement="top" title="Pinterest"><i class="fa fa-pinterest fa-1x"></i></a></li>
            <li><a href="#" data-placement="top" title="Google plus"><i class="fa fa-google-plus fa-1x"></i></a></li>
          </ul>
        </div>

        <div style="margin-left: 700px; ">
        <div class="col-md-6 wow fadeInUp" data-wow-offset="0" data-wow-delay="1s">
          <h3>CONTACT INFO</h3>
          <ul>
            <li><i class="fa fa-home fa-2x "></i> Indian Institute Of Information Technology Vadodara , Gandhinagar Campus , Gujarat , India , 382007</li>
            <hr>
            <li><i class="fa fa-phone fa-2x "></i> +91 6359486625</li>
            <hr>
            <li><i class="fa fa-envelope fa-2xv"></i>  novisinventis@domain.net</li>
          </ul>
        </div>
      </div>  
      </div>
    </div>
  </footer>

</body>

</html>