<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">
  <title>Novis Inventis</title>
  
  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link href="css/style.css" rel="stylesheet" />
</head>

<body>
  <header>
    <nav class="navbar navbar-default navbar-static-top" style="height: 106px; border-color: black; background-color: #fff;"  role="navigation">
      <div class="navigation">
        <div class="container">
          <div class="navbar-header">
            <div class="navbar-brand">
              <div class="wow shake" data-wow-offset="0" data-wow-delay=".6" data-wow-iteration="infinite" data-wow-duration="8s">
                <img src="images/logo.jpeg" alt="Novis-Inventis" style="width: 163px; height: 100px; margin-top: -16px;">
              </div>
                    
            </div>
          </div>
          <a style="color: white;" href="/logout"><button class="btn btn-primary" style="margin-top: -15px; background-color: #ED502E; margin-left: 1160px; padding: 9px 20px; font-size: 22px;">Logout</button></a>
        </div>
      </div>
    </nav>
  </header>