
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">
  <title>Novis Inventis</title>

  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/jquery.bxslider.css">
  <link rel="stylesheet" type="text/css" href="css/isotope.css" media="screen" />
  <link rel="stylesheet" href="css/animate.css">
  <link rel="stylesheet" href="css/generator.css">
  <link rel="stylesheet" href="js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
  <link href="css/prettyPhoto.css" rel="stylesheet" />
  <link href="css/style.css" rel="stylesheet" />
  
  <!-- =======================================================
    Theme Name: Multi
    Theme URL: https://bootstrapmade.com/multi-responsive-bootstrap-template/
    Author: BootstrapMade
    Author URL: https://bootstrapmade.com
  ======================================================= -->
</head>

<body>
  <header >
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse.collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
            <div class="navbar-brand">
              <div class="wow shake" data-wow-offset="0" data-wow-delay=".6" data-wow-iteration="infinite" data-wow-duration="8s">
                <img src="images/logo.jpeg" alt="Novis-Inventis" style="width: 185px; height: 115px; margin-top: -14px;">
              </div>                             
            </div>
          </div>  

          <div class="navbar-collapse collapse">
            <div class="menu">
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation"><a href="/">Home</a></li>
                <li role="presentation"><a href="/categories">Categories</a></li>
                <li role="presentation"><a href="/awards">Awards</a></li>
                <li role="presentation"><a href="/services">New Technologies</a></li>
                <li role="presentation"><a href="/contact">Contact</a></li> 
              </ul>
            </div>
          </div>
          <a style="color: white;" href="/login"><button class="btn btn-primary" style="margin-top: -99px; background-color: #ED502E; margin-left: 1223px;">Login</button></a>
          
        </div>
      </div>
    </nav>
  </header>