<%- include("partials/header2"); -%>      


    <div class="container" style="margin-bottom: 50px;">
        <h2>Add new data.</h2>
        <a style="color: white;" href="/compose"><button class="btn btn-primary" style="background-color: #ED502E;">Add</button></a><br>
        <h2>Update the current data.</h2>
        <a style="color: white;" href="/update"><button class="btn btn-primary" style="background-color: #ED502E;">Update</button></a><br>
        <h2>Delete a data.</h2>
        <a style="color: white;" href="/delete"><button class="btn btn-primary" style="background-color: #ED502E;">Delete</button></a><br>
    </div>
    
<%- include("partials/footer2"); -%>