<%- include("partials/header2"); -%>

  <style>
    div.preview-images1 > img {
      width: 30%;
    }
    div.preview-images2 > img {
      width: 30%;
    }
  </style>

<div class="container">  
    <h1 style="text-align: center;">Update an Award</h1><br>
    <form method="POST" action="/updateCategoryImage" enctype="multipart/form-data" autocomplete="off">
        <div class="form-group">
            <label for="" style="color: black;">Title of the Category</label><br>
            <input type="text" class="form-control" name="title"  required><br>
            <input type="file" style="color: black; font-size: 17px;" name="file" id="file">
            <div class="row">
              <div class="col-sm-12">
                <div class="preview-images1"></div>
              </div>
            </div>
          <br>
        <button type="submit" name="button" class="btn btn-primary">Update the Image</button><br><br><br>
      </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
      $(document).ready(function() {
        let imagesPreview = function(input, placeToInsertImagePreview) {
          if (input.files) {
            let filesAmount = input.files.length;
            for (i = 0; i < filesAmount; i++) {
              let reader = new FileReader();
              reader.onload = function(event) {
                $($.parseHTML("<img>"))
                  .attr("src", event.target.result)
                  .appendTo(placeToInsertImagePreview);
              };
              reader.readAsDataURL(input.files[i]);
            }
          }
        };
        $("#file").on("change", function() {
          imagesPreview(this, "div.preview-images1");
        });
      });
    </script>
<%- include("partials/footer2"); -%>