<%- include("partials/header"); -%>

  <br>
  <div class="slider">
    <div class="img-responsive">
      <ul class="bxslider">
        <li><img src="images/slider/11.jpg" alt="" height="530" /></li>
        <li><img src="images/slider/2.jpg" alt="" height="530" ></li>
        <li><img src="images/slider/333.jpg" alt="" height="530" ></li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="text-center">
      <div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.5s">
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><h1>INVENTION</h1>
      </div>
      <div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="1s">
        <h2>What are inventions and process involved</h2>
        <p class="size">An invention is a unique or novel device, method, composition or process. Inventions are of three kinds: scientific-technological, sociopolitical, and humanistic or cultural.It is often a creative process. An open and curious mind allows an inventor to see beyond what is known. Seeing a new possibility, connection or relationship can spark an invention. Inventive thinking frequently involves combining concepts or elements from different realms that would not normally be put together. Sometimes inventors disregard the boundaries between distinctly separate territories or fields.Several concepts may be considered when thinking about invention.</p>
      </div>
    </div>
  </div>

  <div class="box">
    <div class="wow fadeInLeft" data-wow-offset="0" data-wow-delay="0.5s">
      <div class="col-sm-3">
        <div class="card" style="width: 18rem; margin-left: 70px;">
          <img class="card-img-top" src="images/slider/play.jpg" height="200px" width="200px" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">PLAY</h5>
            <p class="card-text color">Childhood curiosity, experimentation, and imagination can develop one's play instinct.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="wow fadeInLeft" data-wow-offset="0" data-wow-delay="1s">
      <div class="col-sm-3">
        <div class="card" style="width: 18rem; margin-left: 50px;">
          <img class="card-img-top" src="images/slider/envision.jpg" height="200px" width="200px" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">RE-ENVISION</h5>
            <p class="card-text color">To invent is to see anew. Inventors often envision a new idea, seeing it in their mind's eye.</p>
          </div>
        </div>
      </div>
    </div>
     <div class="wow fadeInRight" data-wow-offset="0" data-wow-delay="1.5s">
      <div class="col-sm-3">
        <div class="card" style="width: 18rem; margin-left: 50px;">
          <img class="card-img-top" src="images/slider/insight.jpg" height="200px" width="200px" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">INSIGHT</h5>
            <p class="card-text color"> Insight can also be a vital element of invention. Such inventive insight may begin with questions, doubt or a hunch.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="wow fadeInRight" data-wow-offset="0" data-wow-delay="2s">
      <div class="col-sm-3">
        <div class="card" style="width: 18rem; margin-left: 50px;">
          <img class="card-img-top" src="images/slider/xplr.jpg" height="200px" width="200px" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">EXPLORATION</h5>
            <p class="card-text color"> Invention is often an exploratory process with an uncertain or unknown outcome.</p><br><br><br><br><br><br><br>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
    <div class="container">
      <div class="text-center">
        <div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.5s" >
          <br><br><br><h2 class="text-center">Blast From The Past</h2>
        </div>
        <div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="1s">
          <p class="font">On any normal day, you might buckle your seatbelt, get cash from an ATM, check the news on your cellphone. Chances are, these things feel unremarkable — but it wasn’t so long ago that they each would have been utterly unthinkable. Thanks to six and a half decades of remarkable scientific and technological innovation, 2020 looks very little like 1953. From Velcro to virtual reality, LEDs to Facebook, these are the 66 top life-changing inventions of our time.</p>
        </div>
      </div>
    </div>
 
  <div id="QuoteDisplay" class="wow rotateIn" data-wow-offset="0" data-wow-delay="1.5s" data-wow-duration="1s" >
    <img src="inventions/Blast-from-the-Past.jpg" height="500px" width="1250px"> 

  </div><br><br>
  <button type="button" onclick="newQuote()" class="btn btn-warning" id="alignment">Know More</button>
 

  <div class="about-us">
    <div class="container">
      <div class="text-center">
        <div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.3s">
          <h3>What People Are</h3>
        </div>
        <div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.6s">
          <h2>Saying About Us</h2>
        </div>
        <div class="wow fadeInRight" data-wow-offset="0" data-wow-delay="0.5s">
          <div class="col-md-3">
            <img src="images/about/man4.jpg" alt="">
            <h3>John Doe</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing eil sed deiusmod tempor</p>
          </div>
        </div>

        <div class="wow fadeInRight" data-wow-offset="0" data-wow-delay="1s">
          <div class="col-md-3">
            <img src="images/about/man2.jpg" alt="">
            <h3>John Doe</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing eil sed deiusmod tempor</p>
          </div>
        </div>

        <div class="wow fadeInLeft" data-wow-offset="0" data-wow-delay="1.5s">
          <div class="col-md-3">
            <img src="images/about/man3.jpg" alt="">
            <h3>John Doe</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing eil sed deiusmod tempor</p>
          </div>
        </div>

        <div class="wow fadeInLeft" data-wow-offset="0" data-wow-delay="2s">
          <div class="col-md-3">
            <img src="images/about/man4.jpg" alt="">
            <h3>John Doe</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing eil sed deiusmod tempor</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include("partials/footer"); -%>