<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">
  <title>Novis Inventis</title>
  
  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/font-awesome.min.css" rel="stylesheet" >
  <link href="css/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="css/jquery.bxslider.css">
  <link rel="stylesheet" type="text/css" href="css/isotope.css" media="screen" />
  <link rel="stylesheet" href="css/animate.css">
  <link rel="stylesheet" href="css/generator.css">
  <link rel="stylesheet" href="js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
  <link href="css/prettyPhoto.css" rel="stylesheet" />
  <link href="css/style.css" rel="stylesheet" />
</head>

<body>
  <header>
    <nav class="navbar navbar-default navbar-static-top" style="height: 106px; border-color: black; background-color: #fff;" role="navigation">        
            <div class="navbar-brand" style="margin-bottom: 30px; margin-left: 30px;">
              <div class="wow shake" data-wow-offset="0" data-wow-delay=".6" data-wow-iteration="infinite" data-wow-duration="8s">
                <img src="images/logo.jpeg" alt="Novis-Inventis" style="width: 163px; height: 100px; margin-top: -16px;">
              </div>      
            </div>   
    </nav>
  </header>

    <div class="container" style="margin-bottom: 50px;">
        <h1 style="text-align: center;">Enter your credentials...</h1><br>
        <form method="POST">
            <div class="form-group">
                <label for="" style="color: black;">Email</label><br>
                <input type="email" class="form-control" name="username" required><br>
                <label for="" style="color: black;">Password</label><br>
                <input type="password" class="form-control" name="password" required><br>
            </div>
            <button type="submit" formaction="/login" name="button" class="btn btn-primary">Login</button><br><br><br>
            <button type="submit" name="button" formaction="/register" class="btn btn-primary">Register</button><br><br><br>
        </form>
    </div>

    <%- include("partials/footer2"); -%>