<%- include("partials/header"); -%>

  <section id="portfolio">
    <div class="container">
      <div class="col-lg-12">
        <div class="text-center">
          <div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.3s">
            <h2>Categories</h2>
          </div>
          <div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.6s">
            <p>Here you guys can explore different innovations on a specific field</p>
          </div>
        </div>


        <ul class="portfolio-filter text-center">
          <li><a class="btn btn-default active" href="#" data-filter="*">All Works</a></li>
          <li><a class="btn btn-default" href="#" data-filter=".nanotechnology">Nanotechnology</a></li>
          <li><a class="btn btn-default" href="#" data-filter=".robotics">Robotics</a></li>
          <li><a class="btn btn-default" href="#" data-filter=".biotechnology">Biotechnology</a></li>
          <li><a class="btn btn-default" href="#" data-filter=".astromomy">Astronomy</a></li>
        </ul>
        <!--/#portfolio-filter-->

        <div class="row">
          <div class="portfolio-items">
            <div class="portfolio-item nanotechnology apps col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src="images/categories/nanotechnology/1.jpg" alt="">
                <div class="overlay">
                  <div class="recent-work-inner">
                    <h4><a href="#">Russian Doll Nano-Emulsions</a></h4>
                    <p>This technology uses sequential, high-energy emulsification to create nanometre-sized droplets of oil. </p>
                    <a class="preview" href="images/categories/nanotechnology/1.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                  </div>
                </div>
              </div>
            </div>
            <!--/.portfolio-item-->
            <div class="portfolio-item robotics apps col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src="images/categories/robotics/1.jpg" alt="">
                <div class="overlay">
                  <div class="recent-work-inner">
                    <h4><a href="#">Ubtech Robotics Walker</a></h4>
                    <p>The Ubtech Robotics Walker is a four-foot tall bot that has true bipedal motion.</p>
                    <a class="preview" href="images/categories/robotics/1.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                  </div>
                </div>
              </div>
            </div>
             <!--/.portfolio-item-->
            <div class="portfolio-item biotechnology apps col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src="images/categories/biotechnology/1.jpg" alt="">
                <div class="overlay">
                  <div class="recent-work-inner">
                    <h4><a href="#">Oil-Eating Bacteria</a></h4>
                    <p>These bacteria, can now be used to help clean up future oil spills around the world.</p>
                    <a class="preview" href="images/categories/biotechnology/1.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                  </div>
                </div>
              </div>
            </div>
            <!--/.portfolio-item-->
            <div class="portfolio-item astromomy apps col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src="images/categories/astronomy/1.jpg" alt="">
                <div class="overlay">
                  <div class="recent-work-inner">
                    <h4><a href="#">Halley's Comet</a></h4>
                    <p>Edmond Halley was the first to calculate the orbit of a comet later named after him.</p>
                    <a class="preview" href="images/categories/astronomy/1.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                  </div>
                </div>
              </div>
            </div>
            <!--/.portfolio-item-->
            <div class="portfolio-item astromomy apps col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src="images/categories/astronomy/2.jpg" alt="">
                <div class="overlay">
                  <div class="recent-work-inner">
                    <h4><a href="#">Discovery of Uranus</a></h4>
                    <p>Frederick William Herschel discovered Uranus in 1781.</p>
                    <a class="preview" href="images/categories/astronomy/2.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                  </div>
                </div>
              </div>
              </div>
            <!--/.portfolio-item-->
            <div class="portfolio-item astromomy apps col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src="images/categories/astronomy/3.jpg" alt="">
                <div class="overlay">
                  <div class="recent-work-inner">
                    <h4><a href="#">Liquid-fueled rocket</a></h4>
                    <p>Robert Goddard is credited with creating and building the world's first liquid-fueled rocket</p>
                    <a class="preview" href="images/categories/astronomy/3.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                  </div>
                </div>
              </div>
            </div>
            <!--/.portfolio-item-->
            <div class="portfolio-item astromomy apps col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src="images/categories/astronomy/4.jpg" alt="">
                <div class="overlay">
                  <div class="recent-work-inner">
                    <h4><a href="#">World's first Ballistic missile(V-2)</a></h4>
                    <p>1944-A team of German scientists led by Wernher Braun develops the first rocket-powered ballistic missile</p>
                    <a class="preview" href="images/categories/astronomy/4.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                  </div>
                </div>
              </div>
            </div>
             <!--/.portfolio-item-->
            <div class="portfolio-item robotics apps col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src="images/categories/robotics/2.jpg" alt="">
                <div class="overlay">
                  <div class="recent-work-inner">
                    <h4><a href="#">ForwardX CX-1 Robotics Suitcase</a></h4>
                    <p>It is the first smart suitcase custom built to follow the owner.</p>
                    <a class="preview" href="images/categories/robotics/2.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                  </div>
                </div>
              </div>
            </div>
             <!--/.portfolio-item-->
            <div class="portfolio-item biotechnology apps col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src="images/categories/biotechnology/2.jpg" alt="">
                <div class="overlay">
                  <div class="recent-work-inner">
                    <h4><a href="#">Advanced Biofuel Technology</a></h4>
                    <p>The U.S. Department of Energy defines biofuels as biomass that “can be converted directly into liquid fuels.”</p>
                    <a class="preview" href="images/categories/biotechnology/2.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                  </div>
                </div>
              </div>
            </div>
             <!--/.portfolio-item-->
            <div class="portfolio-item nanotechnology apps col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src="images/categories/nanotechnology/2.jpg" alt="">
                <div class="overlay">
                  <div class="recent-work-inner">
                    <h4><a href="#">DNA Nanobots</a></h4>
                    <p>A transformation of medicine by injecting nanobots into the body where they perform functions such as treating disease.</p>
                    <a class="preview" href="images/categories/nanotechnology/2.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                  </div>
                </div>
              </div>
            </div>
             <!--/.portfolio-item-->
            <div class="portfolio-item robotics apps col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src="images/categories/robotics/3.jpg" alt="">
                <div class="overlay">
                  <div class="recent-work-inner">
                    <h4><a href="#">Somnox Sleep Robot</a></h4>
                    <p>It is an assisted sleeping robot that may help your way to sleep.</p>
                    <a class="preview" href="images/categories/robotics/3.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                  </div>
                </div>
              </div>
            </div>
             <!--/.portfolio-item-->
            <div class="portfolio-item robotics apps col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src="images/categories/robotics/4.jpg" alt="">
                <div class="overlay">
                  <div class="recent-work-inner">
                    <h4><a href="#">Boston Dynamics SpotMini</a></h4>
                    <p>SpotMini is currently in the testing stage for use in construction, security, delivery and home assistance applications.</p>
                    <a class="preview" href="images/categories/robotics/4.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                  </div>
                </div>
              </div>
            </div>
             <!--/.portfolio-item-->
            <div class="portfolio-item biotechnology apps col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src="images/categories/biotechnology/3.jpg" alt="">
                <div class="overlay">
                  <div class="recent-work-inner">
                    <h4><a href="#">Lab-Grown Meat And Plants</a></h4>
                    <p>Memphis Meats is developing meat from animal cells in labs, creating the meat without killing an animal.</p>
                    <a class="preview" href="images/categories/biotechnology/3.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                  </div>
                </div>
              </div>
            </div>
             <!--/.portfolio-item-->
            <div class="portfolio-item robotics col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src="images/categories/robotics/5.jpg" alt="">
                <div class="overlay">
                  <div class="recent-work-inner">
                    <h4><a href="#">Care OS Smart Mirror</a></h4>
                    <p>The care OS deploys gesture controls and facial recognition to give skincare advice, and plays music and even takes selfies.</p>
                    <a class="preview" href="images/categories/robotics/5.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                  </div>
                </div>
              </div>
            </div>
            <!--/.portfolio-item-->

            <div class="portfolio-item nanotechnology col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src="images/categories/nanotechnology/3.jpg" alt="">
                <div class="overlay">
                  <div class="recent-work-inner">
                    <h4><a href="#">Quantum Optomechanics</a></h4>
                    <p>It uses the pressure of confined photons, the quantum-mechanical particles of light, to manipulate the properties of mechanical objects.</p>
                    <a class="preview" href="images/categories/nanotechnology/3.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                  </div>
                </div>
              </div>
            </div>
            <!--/.portfolio-item-->

            <div class="portfolio-item biotechnology apps col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src="images/categories/biotechnology/4.jpg" alt="">
                <div class="overlay">
                  <div class="recent-work-inner">
                    <h4><a href="#">Biosensors</a></h4>
                    <p>Calibrated and designed to track various biosignatures biosensors will revolutionize how we monitor our health.</p>
                    <a class="preview" href="images/categories/biotechnology/4.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                  </div>
                </div>
              </div>
            </div>
            <!--/.portfolio-item-->

            <div class="portfolio-item nanotechnology col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src="images/categories/nanotechnology/4.jpg" alt="">
                <div class="overlay">
                  <div class="recent-work-inner">
                    <h4><a href="#">Slow Light</a></h4>
                    <p>Light, the fastest thing in the cosmos, can be slowed to walking pace or even stopped in its tracks.</p>
                    <a class="preview" href="images/categories/nanotechnology/4.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                  </div>
                </div>
              </div>
            </div>
            <!--/.portfolio-item-->

            <div class="portfolio-item robotics apps col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src="images/categories/robotics/6.jpg" alt="">
                <div class="overlay">
                  <div class="recent-work-inner">
                    <h4><a href="#">Robomart</a></h4>
                    <p>Robomart is the world’s first driving store, and makes trips to the grocery store a thing of the past.</p>
                    <a class="preview" href="images/categories/robotics/6.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                  </div>
                </div>
              </div>
            </div>
            <!--/.portfolio-item-->

            <div class="portfolio-item biotechnology col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src="images/categories/biotechnology/5.jpg" alt="">
                <div class="overlay">
                  <div class="recent-work-inner">
                    <h4><a href="#">Bioplastics</a></h4>
                    <p>Bioplastics are far less toxic to the environment, while still maintaining many of the benefits of regular plastics.</p>
                    <a class="preview" href="images/categories/biotechnology/5.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                  </div>
                </div>
              </div>
            </div>
            <!--/.portfolio-item-->

            <div class="portfolio-item robotics col-xs-12 col-sm-4 col-md-3">
              <div class="recent-work-wrap">
                <img class="img-responsive" src="images/categories/robotics/7.jpg" alt="">
                <div class="overlay">
                  <div class="recent-work-inner">
                    <h4><a href="#">Sophia</a></h4>
                    <p>Sophia is a social humanoid robot developed by Hong Kong based company Hanson Robotics.</p>
                    <a class="preview" href="images/categories/robotics/7.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                  </div>
                </div>
              </div>
            </div>
            <!--/.portfolio-item-->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/#portfolio-item-->

  <%- include("partials/footer"); -%>