<%- include("partials/header2"); -%>

  <style>
    div.preview-images1 > img {
      width: 30%;
    }
    div.preview-images2 > img {
      width: 30%;
    }
  </style>
<div class="container">  
    <h1 style="text-align: center;">Add an Award</h1><br>
    <form action="/composeAward" method="POST" enctype="multipart/form-data" autocomplete="off">
        <div class="form-group">
            <!-- <label for="" style="color: black;">Name of the award</label><br>
            <input type="text" class="form-control" name="awardName"  required><br> -->
            <label for="categories" style="color: black;">Name of the Category</label><br>
            <select type="text" class="form-control" name="categoryName" id="categories"  required>
              <option value="nanotechnology">Nanotechnology</option>
              <option value="robotics">Robotics</option>
              <option value="biotechnology">Biotechnology</option>
              <option value="astronomy">Astronomy</option>
            </select>
            <!-- <input type="text" class="form-control" name="categoryName"  required><br> -->
            <label for="" style="color: black;">Description</label><br>
            <textarea name="awardDescription" class="form-control" cols="30" rows="5"  required></textarea> <br>
            <input type="file" style="color: black; font-size: 17px;" name="file" id="file">
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="preview-images1"></div>
          </div>
        </div>
      </div><br>
        <button type="submit" name="button" style="margin-left: 200px;" class="btn btn-primary">Add</button><br><br><br>
    </form>
</div>


<div class="container">  
    <h1 style="text-align: center;">Add inside Categories</h1><br>
    <form action="/composeCategory" method="POST" enctype="multipart/form-data" autocomplete="off">
        <div class="form-group">
            <label for="" style="color: black;">Name of the Category</label><br>
            <input type="text" class="form-control" name="categoryName"  required><br>
            <label for="" style="color: black;">Title</label><br>
            <input type="text" class="form-control" name="categoryTitle"  required><br>
            <label for="" style="color: black;">Content</label><br>
            <textarea name="categoryContent" class="form-control" cols="30" rows="5"  required></textarea><br>            
            <input type="file" style="color: black; font-size: 17px;" name="file" id="file1">
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="preview-images2"></div>
          </div>
        </div>
      </div><br>
        <button type="submit" name="button" style="margin-left: 200px;" class="btn btn-primary">Add</button><br><br><br>
    </form>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
      $(document).ready(function() {
        let imagesPreview = function(input, placeToInsertImagePreview) {
          if (input.files) {
            let filesAmount = input.files.length;
            for (i = 0; i < filesAmount; i++) {
              let reader = new FileReader();
              reader.onload = function(event) {
                $($.parseHTML("<img>"))
                  .attr("src", event.target.result)
                  .appendTo(placeToInsertImagePreview);
              };
              reader.readAsDataURL(input.files[i]);
            }
          }
        };
        $("#file").on("change", function() {
          imagesPreview(this, "div.preview-images1");
        });
        $("#file1").on("change", function() {
          imagesPreview(this, "div.preview-images2");
        });
      });
    </script>
<%- include("partials/footer2"); -%>

