<%- include("partials/header"); -%>

  <div class="contact">
    <div class="container">
      <div class="text-center">
        <div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.3s">
          <h2>Contact Us</h2>
        </div>
        <div class="wow bounceInDown" data-wow-offset="0" data-wow-delay="0.6s">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="col-md-7">
      <div class="map">
        <iframe src="https://maps.google.com/maps?width=700&amp;height=440&amp;hl=en&amp;q=Sabar%20Institute%20Of%20Technology%20%2C%20Majra%20%2CGandhinagar%20%2CGujarat%20%2C%20India+(Novis)&amp;ie=UTF8&amp;t=&amp;z=10&amp;iwloc=B&amp;output=embed" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>

    <div class="contact-info">
      <div class="col-md-5">
        <h2>Novis Inventis</h2>
        <h3>That Inspires Our Customers & Clients</h3>
        <p>Innovation distinguishes between a leader and a follower.</p>
        <ul>
          <li><i class="fa fa-home fa-2x"></i>Indian Institute Of Information Technology Vadodara , Gandhinagar Campus</li>
          <li><i class="fa fa-phone fa-2x"></i> +91 6359486625</li>
          <li><i class="fa fa-envelope fa-2x"></i> novisinventis@domain.net</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="contact-form">
    <div class="container">
      <div class="col-md-8 col-md-offset-2">
        <div id="sendmessage">Your message has been sent. Thank you!</div>
        <div id="errormessage"></div>
        <form action="/contact" method="post" role="form" class="contactForm" id="contactForm" onSubmit="window.location.reload();" >
          <div class="form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
            <div class="validation"></div>
          </div>
          <div class="form-group">
            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
            <div class="validation"></div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
            <div class="validation"></div>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
            <div class="validation"></div>
          </div>

          <div class="text-center"><button type="submit" class="btn btn-primary btn-lg">Send Message</button></div>
        </form>
      </div>
    </div>
  </div>
  <%- include("partials/footer"); -%>