<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">
  <title>Novis Inventis</title>
  
  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link href="css/style.css" rel="stylesheet" />
  <style>
    div.preview-images1 > img {
      width: 30%;
    }
    div.preview-images2 > img {
      width: 30%;
    }
  </style>
</head>

<body>
  <header>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
      <div class="navigation">
        <div class="container">
          <div class="navbar-header">
            <div class="navbar-brand">
              <a href="index.html"><h1><span>N</span>ovis <span>I</span>nventis</h1></a>
            </div>
          </div>

          <a style="color: white;" href="/logout"><button class="btn btn-primary" style="margin-top: -50px; background-color: #ED502E; margin-left: 1223px;">Logout</button></a>
        </div>
      </div>
    </nav>
  </header>


<div class="container">  
    <h1 style="text-align: center;">Update an Award</h1><br>
    <form method="POST" action="/updateCategoryImage" enctype="multipart/form-data" autocomplete="off">
        <div class="form-group">
            <label for="" style="color: black;">Title of the Category</label><br>
            <input type="text" class="form-control" name="title"  required><br>
            <input type="file" style="color: black; font-size: 17px;" name="file" id="file">
            <div class="row">
              <div class="col-sm-12">
                <div class="preview-images1"></div>
              </div>
            </div>
          <br>
        <button type="submit" name="button" class="btn btn-primary">Update the Image</button><br><br><br>
      </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
      $(document).ready(function() {
        let imagesPreview = function(input, placeToInsertImagePreview) {
          if (input.files) {
            let filesAmount = input.files.length;
            for (i = 0; i < filesAmount; i++) {
              let reader = new FileReader();
              reader.onload = function(event) {
                $($.parseHTML("<img>"))
                  .attr("src", event.target.result)
                  .appendTo(placeToInsertImagePreview);
              };
              reader.readAsDataURL(input.files[i]);
            }
          }
        };
        $("#file").on("change", function() {
          imagesPreview(this, "div.preview-images1");
        });
      });
    </script>
<%- include("partials/footer"); -%>