<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">
  <title>Novis Inventis</title>
  
  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link href="css/style.css" rel="stylesheet" />
</head>

<body>
  <header>
    <nav class="navbar navbar-default navbar-static-top" role="navigation">        
            <div class="navbar-brand" style="margin-bottom: 30px; margin-left: 610px;">
              <h1><span>N</span>ovis <span>I</span>nventis</h1>
            </div>   
    </nav>
  </header>

    <div class="container" style="margin-bottom: 50px;">
        <h1 style="text-align: center;">Enter your credentials...</h1><br>
        <form action="/register" method="POST">
            <div class="form-group">
                <label for="" style="color: black;">Email</label><br>
                <input type="email" class="form-control" name="username" required><br>
                <label for="" style="color: black;">Password</label><br>
                <input type="password" class="form-control" name="password" required><br>
            </div>
            <button type="submit" name="button" class="btn btn-primary">Register</button><br><br><br>
        </form>
    </div>

    <%- include("partials/footer2"); -%>